/* Dark Theme Styles */
body {
    background-color: #121212;
    color: #e0e0e0;
}

a {
    color: #bb86fc;
}

.navbar {
    background-color: #333333;
}

pre, code {
    background-color: #1e1e1e;
    color: #dcdcdc;
}
